<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.1/theme-chalk/index.css" rel="stylesheet">
</head>

<body>
    <div id="app">

        <el-container class="wrapper">
            <el-header height="80px">
                <img src="https://dponlinedownload.parrowtech.com/atom.png" alt="element-logo" class="header-logo"
                    width="50">
                <div
                    style="color:white;font-weight: bold; font-size: 24px; display: inline-block; vertical-align: middle;">
                    ATOM STARTER
                </div>
                <ul class="header-operations">
                    <li><a href="./search.html">ASearch</a></li>
                    <li><a href="./doc.html">需求管理</a></li>
                    <li active><a href="./dbm.html">数据库管理</a></li>
                    <li><a href="./query.html">数据库查询</a></li>
                    <li><a href="./gen.html">生成器</a></li>
                </ul>
            </el-header>

            <el-main class="content">

                <el-form inline :model="query" label-position="right" label-width="100px" class="query-form">
                    <el-form-item label=" " label-width="0px">
                        <el-button icon="el-icon-info" @click="back()">操作记录</el-button>
                        <el-button type="primary" icon="el-icon-plus" @click="showAddTable()">添加表</el-button>
                        <el-button type="primary" icon="el-icon-plus" @click="showAddCol()">添加字段</el-button>
                        <!-- <el-button type="primary" icon="el-icon-refresh" @click="add()">重新同步</el-button> -->
                    </el-form-item>
                </el-form>

                <el-container style="position: fixed;left: 0;top: 166px;right: 0;bottom: 0;overflow-y: auto; ">
                    <el-aside width="500px" style="height: 100%;background-color: #fdfdfd;">
                        <el-table :data="tableData" border style="width: 100%" :highlight-current-row="true"
                            v-loading="query.loading" @row-click="tbClick">
                            <el-table-column prop="Id" label="编号" width="80"></el-table-column>
                            <el-table-column prop="Name" label="名称"></el-table-column>
                            <el-table-column prop="DbTableName" label="表名">
                                <template slot-scope="scope">
                                    <b>{{scope.row.DbTableName}}</b>
                                </template>
                            </el-table-column>
                        </el-table>

                    </el-aside>
                    <el-main style="padding:0 0 0 10px;background-color: #fdfdfd;">
                        <div
                            style="color: #fff;padding:10px; font-size: 24px; font-weight: bold;background: linear-gradient(to right,rgba(64, 158, 255,.5),#fff);">
                            <el-button type="primary" size="mini" icon="el-icon-edit" style="float: right;">修改
                            </el-button>
                            {{curTable.Name}}-{{curTable.DbTableName}}
                        </div>
                        <el-table :data="columnData" border style="width: 100%" :highlight-current-row="false"
                            v-loading="query.loading" id="col-edit">
                            <el-table-column prop="Id" label="编号" width="80"></el-table-column>
                            <el-table-column prop="Name" label="名称">
                                <template slot-scope="scope">
                                    <el-button type="warning" size="mini" icon="el-icon-edit"></el-button>
                                    {{scope.row.Name}}
                                </template>
                            </el-table-column>
                            <el-table-column prop="DbColumnName" label="列名">
                                <template slot-scope="scope">
                                    <el-button type="warning" size="mini" icon="el-icon-edit"></el-button>
                                    <b>{{scope.row.DbColumnName}}</b>
                                </template>
                            </el-table-column>
                            <el-table-column prop="DbType" label="类型">
                                <template slot-scope="scope">
                                    <el-button type="warning" size="mini" icon="el-icon-edit"></el-button>
                                    {{scope.row.DbType}}
                                </template>
                            </el-table-column>
                            <el-table-column prop="Desc" label="说明">
                                <template slot-scope="scope">
                                    <el-button type="warning" size="mini" icon="el-icon-edit"></el-button>
                                    {{scope.row.Desc}}
                                </template>
                            </el-table-column>
                            <el-table-column prop="IsNull" label="可空" width="50">
                                <template slot-scope="scope">
                                    {{scope.row.IsNull==true?'是':''}}
                                </template>
                            </el-table-column>
                            <el-table-column prop="IsPrimary" label="主键" width="50">
                                <template slot-scope="scope">
                                    {{scope.row.IsPrimary==true?'是':''}}
                                </template>
                            </el-table-column>
                            <el-table-column prop="IsIdentity" label="自增" width="50">
                                <template slot-scope="scope">
                                    {{scope.row.IsIdentity==true?'是':''}}
                                </template>
                            </el-table-column>
                            <el-table-column label="操作" width="150">
                                <template slot-scope="scope">
                                    <el-button type="success" size="mini" @click="add()">空</el-button>
                                    <el-button type="success" size="mini" @click="add()">键</el-button>
                                    <el-button type="danger" size="mini" @click="add()">增</el-button>
                                    <el-button type="danger" size="mini" @click="add()">删</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-main>
                </el-container>


            </el-main>

        </el-container>


        <el-dialog title="添加表" :visible.sync="showAddTableWin" :close-on-click-modal="false">
            <el-form ref="newTable" :model="newTable" label-width="120px">

                <el-form-item label="表名称" prop="Name">
                    <el-input v-model="newTable.Name"></el-input>
                </el-form-item>

                <el-form-item label="数据库表名" prop="DbTableName">
                    <el-input v-model="newTable.DbTableName"></el-input>
                </el-form-item>

                <el-form-item label="数据库主键名" prop="KeyName">
                    <el-input v-model="newTable.KeyName"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" :loading="saveLoading" @click="addTable">确认添加表</el-button>
                </el-form-item>

            </el-form>
        </el-dialog>

        <el-dialog title="添加字段" :visible.sync="showAddColWin" :close-on-click-modal="false">
            <el-form ref="newCol" :model="newCol" label-width="120px">

                <el-form-item label="名称" prop="Name">
                    <el-input v-model="newCol.Name"></el-input>
                </el-form-item>

                <el-form-item label="数据库列名" prop="DbColumnName">
                    <el-input v-model="newCol.DbColumnName"></el-input>
                </el-form-item>

                <el-form-item label="类型" prop="DbType">
                    <el-input v-model="newCol.DbType"></el-input>
                </el-form-item>

                <el-form-item label="说明" prop="Desc">
                    <el-input v-model="newCol.Desc"></el-input>
                </el-form-item>

                <el-form-item label="是否可空" prop="IsNull">
                    <el-switch v-model="newCol.IsNull" active-color="#13ce66" inactive-color="#ff4949"> </el-switch>
                </el-form-item>

                <el-form-item label="是否主键" prop="IsPrimary">
                    <el-switch v-model="newCol.IsPrimary" active-color="#13ce66" inactive-color="#ff4949"> </el-switch>
                </el-form-item>

                <el-form-item label="是否自增" prop="IsIdentity">
                    <el-switch v-model="newCol.IsIdentity" active-color="#13ce66" inactive-color="#ff4949"> </el-switch>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" :loading="saveLoading" @click="addCol">确认添加列</el-button>
                </el-form-item>

            </el-form>
        </el-dialog>

    </div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.1/index.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                // apiUrl: window.location.origin,
                apiUrl: 'http://localhost:55166',
                query: {
                    loading: false,
                },
                saveLoading: false,
                showAddTableWin: false,
                showAddColWin:false,
                newTable: {},
                newCol:{},
                tableData: [],
                columnData: [],
                curTable: { Name: '选择表' },
            }
        },
        mounted() {
            this.search();
        },
        methods: {
            search() {
                this.query.loading = true;
                axios.post(`${this.apiUrl}/Atom/Tables`, this.query).then(res => {
                    this.query.loading = false;
                    if (res.data.Code != 1) return this.$message.error(res.data.Msg);
                    this.tableData = res.data.Data;
                })
            },
            tbClick(row, column, event) {
                this.query.loading = true;
                axios.post(`${this.apiUrl}/Atom/Columns`, { DbTableId: row.Id }).then(res => {
                    this.query.loading = false;
                    if (res.data.Code != 1) return this.$message.error(res.data.Msg);
                    this.columnData = res.data.Data;
                    this.curTable = row;
                })
            },
            showAddTable() {
                this.showAddTableWin = true;
            },
            showAddCol() {
                if(!this.curTable.Id) return this.$message.error('请先选择表');
                this.newCol = {IsNull:true,IsPrimary:false,IsIdentity:false,DbTableId:this.curTable.Id};
                this.showAddColWin = true;
            },
            addTable() {
                this.saveLoading = true;
                axios.post(`${this.apiUrl}/Atom/AddTable`, this.newTable).then(res => {
                    this.saveLoading = false;
                    if (res.data.Code != 1) return this.$message.error(res.data.Msg);
                    this.$notify.success({ title: '成功', message: '添加成功' });
                    this.search();
                    this.showAddTableWin = false;
                });
            },
            addCol(){
                this.saveLoading = true;
                axios.post(`${this.apiUrl}/Atom/AddColumn`, this.newCol).then(res => {
                    this.saveLoading = false;
                    if (res.data.Code != 1) return this.$message.error(res.data.Msg);
                    this.$notify.success({ title: '成功', message: '添加成功' });
                    this.tbClick({Id:this.curTable.Id});
                    this.showAddColWin = false;
                });
            },

           

        },
    })
</script>

<style>
    html,
    body {
        height: 100%;
    }

    * {
        padding: 0;
        margin: 0;
    }

    .wrapper {
        height: 100%;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    header {
        width: 100%;
        padding: 0 20px;
        z-index: 1;
        box-sizing: border-box;
        background-color: rgb(64, 158, 255);
    }

    header::after {
        display: inline-block;
        content: "";
        height: 100%;
        vertical-align: middle
    }

    .container {
        padding-top: 80px;
    }

    .menu {
        height: 100%;
    }

    .content {
        padding: 0;
    }

    .header-logo {
        display: inline-block;
        vertical-align: middle;
    }

    .header-operations li {
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        margin: 0 10px;
        line-height: 80px;
        cursor: pointer;
    }

    .header-operations {
        display: inline-block;
        float: right;
        padding-right: 30px;
        height: 100%;
    }


    .el-input-group>.el-input__inner {
        height: 50px;
        border: 2px solid #DCDFE6;
    }

    .el-input-group__append {
        border: 2px solid #DCDFE6;
        border-left: 0;
        background-color: #fff;
    }

    .query-form {
        padding-top: 25px;
        background-color: #f2f2f2;
    }

    [active] {
        font-weight: bold;
        font-size: 24px;
    }

    #col-edit .el-button--mini,
    .el-button--mini.is-round {
        padding: 3px 3px;
    }
</style>

</html>